:root {
 
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  

}
#root{
  margin: 0;
  padding: 0;
  max-width: none;
  text-align: unset;
  
}
.siteContainer{
  display: flex;
  flex-direction: column;
  align-items: center;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  
  
  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#root {
  
  margin: 0 auto;
  
  text-align: unset;
}
body{
  display: unset;
  margin:0;
}

.banner{
  background-image: url(https://cdn.pixilart.com/photos/large/daa0ed0f0ee4be0.png);
  background-position: center;
  background-size: cover;
  width: 1346px;
  height: 9rem;
  background-color: white;
  display: flex;
  align-items:stretch;
  justify-content: space-between;

}

.bannerBar{
 position: absolute; 
 background-image: url(https://cdn.pixilart.com/photos/large/7932b4e28faf68b.png);
  background-position: center;
  background-size: cover;
  width: 1346px;
  height: 0.4rem;
  top: 1.3rem;
  
}
.underbanner{
  background-image: url(https://cdn.pixilart.com/photos/large/7932b4e28faf68b.png);
  background-position: center;
  background-size: cover;
  width: 1346px;
  height: 2rem;
  background-color: white;
}

.container{
  display: flex;
  align-items: center;
}
.verticalContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gridContainer{
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  column-gap: 50px;
  row-gap: 50px;
  background-color: #ffffff;  
}
.imgContainer{
  background-color: rgba(0, 0, 0, 0.548);
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbarLinks{
  color: #ffffff;
  font-size: 30pt;
  padding: 10px;
}
.navbarLinks:hover{
  border-bottom: solid, #ffffff,;
  border-bottom: 2px solid rgb(225, 225, 225);
  color: bisque;
}

.navbarLinks:focus-visible,.navbarLinks:focus{
  border-bottom: 2px solid rgb(255, 255, 255);
}






/* home page */

.backgroundimg{
  position: relative;
    width: 1346px;
    top: 1px;
    z-index: -1;
    max-height: 67rem;
    /* left: -26rem; */
}

.siteName{
  position: relative;
    font-family: 'Atthia', sans-serif;
    font-weight: bolder;
    -webkit-text-stroke: 1px black;
    padding: 10px;
    margin: 0;
    letter-spacing: 4px;
    left: 11rem;
    top: 24rem;
    color: rgb(95, 58, 10);
    font-size: 23pt;
}
#nameDeco{
  position: relative;
  top: 16rem;
  left: 0.6rem;
    width: 39rem;
    filter: brightness(75%);
}
.arrows{
  margin-bottom: -9rem;
  background-color: rgba(95, 58, 10, 0.548);
  border-color: rgba(95, 58, 10, 0.948);
  border-radius: 5px;
  border-style: groove;
}
.arrows:hover{
  background-color: rgba(95, 58, 10, 0.948);
  cursor: pointer;
}




.featured{
  position: relative;
  margin-bottom: -9rem;
  /* top: -20.9rem;
  left: 37.6rem; */
  width: 10rem;
  height: 8.7rem;
  overflow: hidden;
  /* border: solid; */
}
.carousel{
  display: flex;
    width: fit-content;
    position: relative;
    left: 0rem;
    /* background-color: rgba(44, 27, 5, 0.774);
    border-radius: 10px; */
}

.ProductImg-S{
  max-block-size: 9rem;
}
.info-S{
  background: linear-gradient(0deg, black, transparent);
  position: relative;
  top: -4.3rem;
  width: 10rem;
  text-align: center;
}
p{
  margin:0;
}


/* footer */
.footer{
  width: 1346px;
  height: 60px;
  background-color: rgba(17, 49, 107, 0.795);
  display: flex;
  justify-content: center;
  
  
}

/* shop pae */

.filters{
  position:fixed;
  
}


.relative-div {
  position: relative; /* Initially relative */
  width: 100%; /* Full width */
  background-color: #242424; /* Background color */
  color: white; /* Text color */
  padding: 10px; /* Padding inside the div */
  /* transition: all 0.3s ease;  */
  height: 50px;
}

.fixed {
  position: fixed; /* Change to fixed */
  top: 0; /* At the top of the viewport */
  left: 279; /* At the left of the viewport */
  /* box-shadow: 0 2px 5px rgba(0,0,0,0.2);  */
  z-index: 1000; /* Ensure it stays on top */
  width: 1127px;

  
}

.content {
  padding: 50px 10px; /* Add some padding to the content */
}

.productCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right:10px;
  margin-left:4px;
  align-items:center;
  border-radius:5px;
  border:3px solid rgba(0, 0, 0, 0.948);
  height: 32rem;
  width: 19rem;
  overflow:hidden;
  background-color:rgba(0, 0, 0, 0.548);
}

.ProductImg{
  max-block-size: 16rem;

}
.productInfo{

}

