:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* line-height: 1.5; */
  /* font-weight: 400; */

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  /* text-rendering: optimizeLegibility; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */

}
#root{
  margin: 0;
  padding: 0;
  max-width: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  
  
  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#root {
  
  margin: 0 auto;
  
  text-align: center;
}
body{
  display: unset;
  margin:0;
}

.banner{
  background-image: url(src/assets/fabric-texture.webp);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 9rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.underbanner{
  background-image: url(src/assets/bannerlining.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 2rem;
  background-color: white;
}
.siteName{
  font-family: 'Atthia', sans-serif;
  padding: 10px;
  letter-spacing: 4px;                                                
}

.container{
  display: flex;
  align-items: center;
}
.verticalContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


